*{
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: arial, helvetica, sans-serif;
  background-color: #113c62;
}
#container{
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  color: white;
}
header{
  height: 100px;
  width: auto;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}
.logo{
  border: 2px solid blue;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
nav{
  width: 100%;
  border: 2px solid blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
ul{
  list-style: none;
  /* border: 2px solid cyan; */
  font-size: 25px;
}
ul li{
  float: left;
  padding-left: 75px;
}
.cover-page{
  border: 2px solid red;
  width: auto;
  height: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  /* background-image: url(../assets/cover_page.jpg);
	background-repeat: no-repeat;
	background-size: auto;
  background-position: center; */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.cover-page h1{
  border: 2px solid blue;
  position: absolute;
  top: 10px;
}
.cover-page .best-movie{
  position: absolute;
  top: 65px;
}
.cover-page h2{
  border: 2px solid blue;
  position: absolute;
  top: 350px;
  text-align: center;
  width: 70%;
}
.cover-page .btn{
  position: absolute;
  bottom: 10px;
}
.btn{
  cursor: pointer;
}
.modal{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
  justify-content: center;
}
.modal-content{
  background-color: #113c62;
  border: 2px solid white;
  margin: 10%;
  padding: 10px;
  width: 70%;
  height: 70%;
  display: block;
  position: relative;
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: flex-end;
  align-items: baseline; */
}
.close{
  border: 2px solid white;
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal_image{
  border: 2px solid white;
  position: absolute;
  top: 10px;
  left: 10px;
  /* background-image: url(../assets/modal_image.jpg); */
  /* background-color: black;
	background-repeat: no-repeat;
	background-size: auto;
  background-position: center; */
}
.modal_title{
  border: 2px solid white;
  position: absolute;
  top: 10px;
  left: 210px;
}
.modal_genre{
  border: 2px solid white;
  position: absolute;
  top: 60px;
  left: 210px;
  right: 10px;
}
.modal_date{
  border: 2px solid white;
  position: absolute;
  top: 110px;
  left: 210px;
  right: 10px;
}
.modal_rated{
  border: 2px solid white;
  position: absolute;
  top: 160px;
  left: 210px;
  right: 10px;
}
.modal_imdb{
  border: 2px solid white;
  position: absolute;
  top: 210px;
  left: 210px;
  right: 10px;
}
.modal_director{
  border: 2px solid white;
  position: absolute;
  top: 260px;
  left: 210px;
  right: 10px;
  /* display: flex;
  flex-wrap: wrap; */
}
.modal_actors{
  border: 2px solid white;
  position: absolute;
  top: 310px;
  left: 10px;
  right: 10px;
  /* display: flex;
  flex-wrap: wrap; */
}
.modal_duration{
  border: 2px solid white;
  position: absolute;
  top: 360px;
  left: 10px;
  right: 10px;
  /* display: flex;
  flex-wrap: wrap; */
}
.modal_countries{
  border: 2px solid white;
  position: absolute;
  top: 410px;
  left: 10px;
  right: 10px;
}
.modal_income{
  border: 2px solid white;
  position: absolute;
  top: 460px;
  left: 10px;
  right: 10px;
}
.modal_description{
  border: 2px solid white;
  position: absolute;
  top: 510px;
  left: 10px;
  right: 10px;
}

.close:hover{
  font-weight: bold;
  cursor: pointer;
}
section{
  border: 2px solid red;
  width: auto;
  height: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
section h2{
  border: 2px solid blue;
}
.films{
  border: 2px solid blue;
  height: 268px;
  display: flex;
  position: relative;
  justify-content: space-around;
}
.films img{
  position: absolute;
  top: 40%;
  z-index: 3;
  /* border: 2px solid orange; */
}
/* .films .left_button{
  left: -15px;
}
.films .right_button{
  right: -15px;
} */
.film{
  border: 2px solid cyan;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 3px solid white;
  background-image: url(../assets/modal_image.jpg);
	background-repeat: no-repeat;
	background-size: auto;
  background-position: center;
}
.film h3{
  z-index: 2;
}
.film img{
  height: 100%;
  width: 15%;
  top: 0px;
  object-fit: contain;
  z-index: 1;
}
h3{
  border: 2px solid cyan;
}
footer{
  border: 2px solid black;
  width: auto;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{

}
