*{
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: arial, helvetica, sans-serif;
  background-color: #113c62;
}
#container{
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  color: white;
}

header{
  height: 100px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.logo{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
nav{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
ul{
  list-style: none;
  font-size: 25px;
}
ul li{
  float: left;
  padding-left: 75px;
}
ul li a{
  color: white;
}
ul li a:hover{
  text-decoration: underline;
}

.cover-page{
  border: 2px solid white;
  width: auto;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.cover-page h1{
  position: absolute;
  top: 10px;
}
.cover-page .cover-page-image{
  position: absolute;
  top: 65px;
}
.cover-page h2{
  position: absolute;
  top: 350px;
  text-align: center;
  width: 80%;
}
.cover-page .btn{
  position: absolute;
  bottom: 10px;
}
.btn{
  cursor: pointer;
}

.modal{
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
  justify-content: center;
}
.modal-content{
  background-color: #113c62;
  border: 2px solid white;
  margin: 10%;
  padding: 10px;
  width: 70%;
  height: 70%;
  display: block;
  position: relative;
}
p{
  font-weight: bold;
}
p span{
  font-weight: normal;
}
.modal_image{
  position: absolute;
  top: 10px;
  left: 10px;
}
.modal_title{
  position: absolute;
  top: 10px;
  left: 210px;
}
.modal_genre{
  position: absolute;
  top: 60px;
  left: 210px;
  right: 10px;
}
.modal_date{
  position: absolute;
  top: 110px;
  left: 210px;
  right: 10px;
}
.modal_rated{
  position: absolute;
  top: 160px;
  left: 210px;
  right: 10px;
}
.modal_imdb{
  position: absolute;
  top: 210px;
  left: 210px;
  right: 10px;
}
.modal_director{
  position: absolute;
  top: 260px;
  left: 210px;
  right: 10px;
}
.modal_actors{
  position: absolute;
  top: 310px;
  left: 10px;
  right: 10px;
}
.modal_duration{
  position: absolute;
  top: 360px;
  left: 10px;
  right: 10px;
}
.modal_countries{
  position: absolute;
  top: 410px;
  left: 10px;
  right: 10px;
}
.modal_income{
  position: absolute;
  top: 460px;
  left: 10px;
  right: 10px;
}
.modal_description{
  position: absolute;
  top: 510px;
  left: 10px;
  right: 10px;
}
.close{
  position: absolute;
  top: 10px;
  right: 10px;
}
.close:hover{
  font-weight: bold;
  cursor: pointer;
}

section{
  border: 2px solid white;
  width: auto;
  height: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.films{
  height: 268px;
  display: flex;
  position: relative;
  justify-content: space-around;

}
.films img{
  position: absolute;
  top: 40%;
  z-index: 3;
}
.films #left_arrow{
  cursor: pointer;
  left: -3%;
}
.films #right_arrow{
  cursor: pointer;
  right: -3%;
}
.film{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.film img{
  height: 100%;
  width: 15%;
  top: 0px;
  object-fit: contain;
  z-index: 1;
}

footer{
  border: 2px solid white;
  width: auto;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
